.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1300px;
}

.section {
    position: relative;
}

.section p {
    position: absolute;
    top: 45%;
    font-size: 1.1rem;
    font-weight: 600;
}


@media (min-width: 440px) {
    .section p {
        font-size: 1.5rem;
    }
    
}